build
dist / media
node_modules
.DS_Store
.env
.env.local
.env.*.local
.next
.vercel

# Rate limiting data file
.rate-limit-data.json

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml
